---
interface Props {
    backgroundImage: string;
}

const { backgroundImage } = Astro.props;
---

<header class="header" style={`background-image: url(${backgroundImage})`}>
    <div class="header-container"></div>
</header>
<style>
    .header {
        background-color: #000; /* Fallback background color */
        background-size: cover;
        background-position: center 20%;
        color: #fff;
        padding: 22rem 0;
        position: relative; /* For absolute positioning of children if needed */
    }
</style>
